*{
    margin: 0px;
}

body{
    background-color: black;
    overflow: hidden;
}

li {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
}

li:first-child{
    z-index: 2;
} 
li:nth-child(2){
    z-index: 1;
} 

img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

h1 {
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: wheat;
    padding: 20px;
}


.loader {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .menu {
    background-color: red;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 100;
}
